.page-container {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .page-container {
    padding: 40px 100px;
  }
}

.intro-block {
  font-weight: 600;
  line-height: 24px;
}

.step {
  padding-bottom: 20px;

  .step-content {
    padding-left: 40px;
    margin-left: 12px;
    border-left: 4px solid #D9E8F6;

    &.last {
      border-left: none;
    }
  }

  .step-inset {
    padding-left: 34px;
  }

  .step-subtitle {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 4px;
    font-size: 14px;
    font-weight: 600;
  }

  .step-title {
    display: flex;
    font-weight: bold;
  }

  mat-icon {
    margin-right: 5px;
  }
}

.bold {
  font-weight: 600;
}

.banner {
  padding: 15px;
  border-left: 4px solid #00BDE3;
  background: #E7F6F8;
  max-width: 640px;

  .banner-content {
    padding: 10px 20px 0 40px;
  }

  .banner-title {
    display: flex;
    font-weight: bold;
    align-items: center;

    mat-icon {
      padding-right: 15px;
    }
  }
}


.cta {
  .mat-raised-button {
    color: white;
    background-color: #005EA2;
  }

  max-width: 230px;
  display: flex;
  flex-direction: column;

  a {
    line-height: 44px;
    font-size: 14px;
  }
}
