@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.page-container {
  text-align: left;
  padding: 40px 10px;
}

.pad-bottom-row{
  padding-bottom: 20px;
}

.pad-top-row {
  padding-top: 20px;
}

.add-person-button {
  margin: 20px 0
}

.return-type-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.return-type-radio-button {
  margin: 5px;
}

.return-type-selected-value {
  margin: 15px 0;
}

h1 {
  padding-bottom: 20px;
}

.forward {
  background-color: #005EA2;
  color: white;
}

.back {
  margin-left: 12px;
  background-color: #FA9441;
  color: white
}


::ng-deep
.mat-horizontal-stepper-header-container{
  flex-direction: column;
  align-items: inherit !important;
}

@media screen and (min-width: 768px) {
  .page-container {
    padding: 40px 100px;
  }

  ::ng-deep
  .mat-horizontal-stepper-header-container {
    flex-direction: row;
    align-items: center !important;
  }
}

mat-form-field{
  padding: 0 20px 0 0;
}
